body {
  text-align: center;
}

#wrapper {
  width: 80%; 
  margin:0 auto;  
  text-align:center;  
}

#info {
  width: 30%;
  height: 30%;
  background-color: red;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}