@import url(http://fonts.googleapis.com/css?family=Comfortaa);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  text-align: center;
  background: #F2EBC7;
  font-family: 'Comfortaa', cursive;
}

#wrapper {
  width: 80%; 
  margin: 0 auto;
}

#welcome {
  margin-bottom: 6%;
  height: 5px;
  background: #348899;
}

#persinfo {
  width: 50%;
  margin: auto;
  padding: auto;
  margin-bottom: 5em;
}

#persinfo img {
}

#persinfo  a {
  color: #000;
}

#persinfo .info {
  width: 100%;
  margin-top: 20px;
}

#persinfo  #name {
  font-size: 38px;
  margin-bottom: 0.1em;
}

#persinfo  #description {
  font-size: 16px;
  color: #aaa;
  color: #348899;
}

#social {
}

#social ul {

}

#social ul li {
  float:none;
  display: inline-block;
  margin: 0px 20px;
}

#social ul li a {
  text-decoration: none;
  color: #000;
  font-size: 42px;
}

#social ul li a.icon-mail:hover {
  color: #FECF23;
}
#social ul li a.icon-twitter-3:hover {
  color: #00ACED;
}
#social ul li a.icon-google__x2B_:hover {
  color: #CF3E2B;
}
#social ul li a.icon-github-01:hover {
  color: #333333;
}
#social ul li a.icon-rus-habrahbr:hover {
  color: #80A1B0;
}
#social ul li a.icon-skype:hover {
  color: #0ABFF2;
}
#social ul li a.icon-grooveshark:hover {
  color: #F7860C;
}
#social ul li a.icon-last_fm:hover {
  color: #D51007;
}

footer {
  margin-top: 6em;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 13px;
  color: #aaa;
}