body {
  text-align: center;
}

#wrapper {
  width: 80%; 
  margin: 0 auto;  
  text-align:center;
}

#welcome {
  margin-bottom: 15%;
}

#persinfo {
  width: 50%;
  margin: auto;
  padding: auto;
}

#persinfo  img {
  float: left; 
}

#persinfo  #name {
  font-size: 28px;
}

#persinfo  #description {
  font-size: 14px;
  color: #cccccc;
}



#social {
}


footer {
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 13px;
  color: #aaa;
}